body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
  background-color: #000;
}

h2 {
  color: #017888;
}

.full {
  height: 90vh;
}

.navbar {
  /*position: fixed;*/
  margin-bottom: -30px;
  padding-top: 1em;
  padding-bottom: 1em;
  border: none;
  border-bottom: 1px solid #017888;
  background-color: #000;
}

/*Center navbar*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*End center navbar*/

.navbar .nav > li > a {
  color: #fff;
  font-size: 16px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.navbar .nav > li.dropdown.open > a {
  color: #017888;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #000;
}

.navbar .nav > li.active > a:hover,
.navbar .nav > li > a:hover {
  color: #017888;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
  color: #017888;
  font-weight: bold;
  background-color: rgba(0, 0, 0, 0.01);
}

.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-menu > li > a {
  background-color: #000;
  color: #FFF;
  font-size: 14px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.dropdown-menu > li > a:hover {
  background-color: #000;
  color: #017888;
}

.dropdown-menu > .active > a,
.dropdown-meni > .active > a:hover {
  background-color: #000;
  color: #017888;
}

body {
  background-color: #000;
}

.aalogo {
  display: block;
  margin: 0 auto;
  margin-top: 10em;
  /*margin-bottom: 5em;*/
  width: 25%;
}

.control-room {
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}

/*.drums {
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;
  width: 100%;
}*/

.breadcrumb-wrap {
  padding: 150px 0;
  /*background-color: rgba(210, 211, 212, 0.15);*/
  background-image: url(../images/mics-banner.jpg);
  background-position-y: -275px;
  background-position-x: center;
  background-repeat: no-repeat;
  border-top: 2px solid #017888;
  border-bottom: 2px solid #017888;
  margin-top: 6em;
  margin-bottom: 2em;
}

h1.page-header {
  border-bottom: transparent;
  font-weight: 700;
  font-family: 'BenchNine', sans-serif;
}

h1.intro {
  color: #fff;
  text-align: center;
  display: block;
  position: relative;
  margin-top: 1em;
  border-bottom: transparent;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;
}

h1.heading {
  color: #fff;
  text-align: center;
  display: block;
  position: relative;
  margin-top: 3.25em;
  border-bottom: transparent;
  font-weight: 900;
  font-family: 'Ubuntu', sans-serif;
}

.divide40 {
  width: 100%;
  height: 40px;
}

hr {
  border-color: #017888;
  padding-top: 1em;
}

footer {
  padding-bottom: 2em;
}

h2.heading {
  color: #017888;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 20px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  vertical-align: middle; }

h2.heading:after {
  position: relative;
  left: 18px;
  content: "";
  display: inline-block;
  width: 200%;
  vertical-align: middle;
  height: .50em;
  margin: 0 -200% 0 0;
  border-top: 1px solid #d2d3d4;
  border-bottom: 1px solid #d2d3d4;
}

a.enter-link {
  text-decoration: none;
}

.enter {
  margin-top: 1.5em;
  text-align: center;
  font-size: 45px;
}

.separator-container {
  text-align: center;
  position: relative;
}

.title h2 {
  display: block;
  margin: auto;
}

.separator-container .separator.line-separator:after {
  float: right;
}

.separator.line-separator:after {
    display: block;
    width: 40%;
    content: "";
    margin-top: 14px;
    border: 1px solid #017888;
  }

.separator-container .separator.line-separator:before {
  float: left;
}

.separator.line-separator:before {
    display: block;
    width: 40%;
    content: " ";
    margin-top: 14px;
    border: 1px solid #017888;
  }

.center-line {
  display: block;
  margin: 10px auto;
  margin-top: 3em;
  margin-bottom: 1.5em;
  height: 3px;
  text-align: center;
  width: 120px;
  background-color: rgba(1, 120, 136, .9);
  border-top: transparent;
}

.about-paragraph {
  font-family: 'Ubuntu', sans-serif;
  font-size: 14px;
  font-weight: 300;
}

.aafont {
  letter-spacing: 1px;
  text-transform: uppercase;
  font-size: 18px;
  font-weight: 400;
  color: #017888;
}

.about-content {
  margin-top: 2em;
}
