body {
  font-family: 'Roboto', sans-serif;
  color: #fff;
}

h2 {
  color: #017888;
}

.navbar {
  /*position: fixed;*/
  margin-top: 0px;
  margin-bottom: -30px;
  border-radius: 0px;
  padding-top: 1em;
  padding-bottom: 1em;
  border-color: transparent;
  background-color: rgba(0, 0, 0, 0.85);
}

/*Center navbar*/

.navbar .navbar-nav {
  display: inline-block;
  float: none;
  vertical-align: top;
}

.navbar .navbar-collapse {
  text-align: center;
}

/*End center navbar*/

.navbar .nav > li > a {
  color: #fff;
  font-size: 16px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.navbar .nav > li.dropdown.open > a {
  color: #017888;
}

.navbar-default .navbar-nav > .open > a,
.navbar-default .navbar-nav > .open > a:hover,
.navbar-default .navbar-nav > .open > a:focus {
  background-color: #000;
}

.navbar .nav > li.active > a:hover,
.navbar .nav > li > a:hover {
  color: #017888;
}

.navbar .nav > li.active > a,
.navbar .nav > li.active > a:hover,
.navbar .nav > li.active > a:focus {
  color: #017888;
  font-weight: bold;
  background-color: #000000;
}

.navbar-default .navbar-nav > li > a:focus {
  color: #ffffff;
}

.dropdown-menu {
  background-color: #000;
}

.dropdown-menu > li > a {
  background-color: #000;
  color: #FFF;
  font-size: 14px;
  -webkit-transition-duration: 0.2s;
  -moz-transition-duration: 0.2s;
  -o-transition-duration: 0.2s;
  transition-duration: 0.2s;
}

.dropdown-menu > li > a:hover {
  background-color: #000;
  color: #017888;
}

.dropdown-menu > .active > a,
.dropdown-meni > .active > a:hover {
  background-color: #000;
  color: #017888;
}

body {
  background-color: #000;
}

.aalogo {
  margin: 0 auto;
  padding-top: 2em;
  padding-bottom: 2em;

}

.page-header {
  border-bottom: 1px solid #017888;
  font-weight: 900;
  padding-bottom: 1em;
}

.divide40 {
  width: 100%;
  height: 40px;
}

hr {
  border-color: #017888;
  padding-top: 1em;
}

footer {
  padding-bottom: 2em;
}

h2.heading {
  color: #017888;
  font-size: 30px;
  font-weight: 600;
  font-style: normal;
  margin: 0 0 20px;
  padding-bottom: 10px;
  position: relative;
  overflow: hidden;
  vertical-align: middle; }

h2.heading:after {
  position: relative;
  left: 18px;
  content: "";
  display: inline-block;
  width: 200%;
  vertical-align: middle;
  height: .50em;
  margin: 0 -200% 0 0;
  border-top: 1px solid #d2d3d4;
  border-bottom: 1px solid #d2d3d4; }
